@page
@model GAvicola.App.Frontend.Pages.Diagnosticos.Details1Model
@{
}
<h1>Detalle Diagnosticos</h1>
<table class="table table-stried">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.diagnostico.Id</td>
    </tr>
    <tr>
        <th scope="col">Descripcion Diagnostico</th>
        <td>@Model.diagnostico.Descripcion</td>
    </tr>
    <tr>
        <th scope="col">Fecha Diagnostico</th>
        <td>@Model.diagnostico.Fecha</td>
    </tr>
    
    <!--
        Se quito el simbolo ARROBA anes de "Model"
    <tr>
        <th scope="col">Veterinario Id</th>
        <td>Model.galpon.Veterinario</td>
    </tr>
    <tr>
        <th scope="col">Operario Id</th>
        <td>Model.galpon.Operario</td>
    </tr>
    <tr>
-->

    <!-- Falta antes de hacer esto, buscar si existe el
    -->
    
        <th scope="col">Galpon</th>
        @if (Model.diagnostico.Galpon == null)
        {
            <th> 
                <a class= "btn btn-secondary" asp-page="./AddGalpones" asp-route-id="@Model.diagnostico.Id">Asignar Galpon</a>
            </th>
            <!--
            <th>Nombre</th>
            <td>Model.galpon.Veterinario</td>
            -->
        }
        else
        {
            <!-- Quite el ARROBA anes de "Model"-->
            <td>@Model.diagnostico.Galpon.Nombre</td>
        }
    </tr>
    <tr>

        <th scope="col">Veterinario</th>
        @if (Model.diagnostico.Veterinario == null)
        {
             <th>              
                <a class= "btn btn-secondary" asp-page="./AddVeterinario" asp-route-id="@Model.diagnostico.Id">Asignar Veterinario</a>
            </th>
        }
        else
        {
            <!-- Quite el ARROBA anes de "Model"-->
            <td>@Model.diagnostico.Veterinario.Nombre</td>
        }


    </tr>
    

</table>
<a class="btn btn-secondary" asp-page="./index1">Volver</a>
