@page
@model GAvicola.App.Frontend.Pages.Operarios.Details1Model
@{
}
<h1>Detalle Operarios</h1>
<table class="table table-stried">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.operario.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.operario.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Doc Identidad</th>
        <td>@Model.operario.Documento</td>
    </tr>
    <tr>
        <th scope="col">Usuario</th>
        <td>@Model.operario.Usuario</td>
    </tr>
    <tr>
        <th scope="col">Contraseña</th>
        <td>@Model.operario.Clave</td>
    </tr>
    <tr>
        <th scope="col">Telefono</th>
        <td>@Model.operario.Telefono</td>
    </tr>
    <tr>
        <th scope="col">Direccion Residencia</th>
        <td>@Model.operario.Direccion</td>
    </tr>
    <tr>
        <th scope="col">Correo</th>
        <td>@Model.operario.Correo</td>
    </tr>

    <!-- /*
    <tr>
        <th scope="col">Veterinario Id</th>
        Falta el ARROBA antes de la palabra "Model"
        <td>Model.galpon.Veterinario</td> 
    </tr>
    <tr>
        <th scope="col">Operario Id</th>
        Falta el ARROBA antes de la palabra "Model"
        <td>Model.galpon.Operario</td>
    </tr>
    */ -->

</table>
<a class="btn btn-secondary" asp-page="./index1">Volver</a>
